body {
	background-color:#F8F8F8;
	font-size: 14px;
	margin: 0;
}
body a {
	text-decoration: none;
	color:#000;
}
body ul {
	margin:0;
}
body ul li {
	list-style:none;
}
header {
	width:100%;
	display:flex;
	justify-content: space-between;
	background: #fff;
	padding:0.5em;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header .rogo{
	width:20%;
}
header .header-contents{
	width:70%;
	display:flex;
	justify-content:flex-start;
	gap:10px;
	padding:1em;
}
header .header-contents ul{
	display:flex;
	gap:10px;
}
header .header-contents ul li{
	margin:0.5em;
}
header .header-contents .login-menu{
	display:flex;
	gap:10px;
}
header .header-contents .register,header .header-contents .login{
	padding:0.5em 1em;
	border-radius:0.5em;
}
header .header-contents .register a,header .header-contents .login a{
	color:#fff;
}
header .header-contents .register{
	background: #4BCCBE;
}
header .header-contents .login{
	background: #FF8C3F;
}
section .agent{
	display:flex;
	gap:10px;
}
section .agent .agent-item{
	width: 25%;
	display:flex;
	gap:10px;
	padding:1em;
	background: #FFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
} 
section .agent .agent-item .agent-item-img{
	width:30%;
}
section .agent .agent-item .agent-item-text{
	width:60%;
}
section .agent .agent-item .agent-item-review{
	display:flex;
	gap:10px;
	
}
section .insurance{
	display:flex;
	gap:10px;
}
section .insurance .insurance-item{
	width: 50%;
	display:flex;
	gap:10px;
	padding: 2em;
    border-radius: 14px;
	background: #FFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
} 
section .insurance .insurance-item .insurance-item-img{
	width:30%;
}
section .insurance .insurance-item .insurance-item-text{
	width:60%;
}
section .insurance .insurance-item .insurance-item-text .insurance-item-title{
	font-size:1.4em;
	margin-bottom: 0.5em;
}
section .insurance .insurance-item .insurance-item-text .insurance-item-subtitle{
	font-size:0.8em;
}
