body {
	background-color:#bbb;
	font-size: 14px;
}
body a {
	text-decoration: none;
	color:#000;
}
body ul {
	margin:0;
}
body ul li {
	list-style:none;
}
header {
	width:100%;
	display:flex;
	justify-content: space-between;
	background: #fff;
}
header .rogo{
	width:20%;
}
header .header-contents{
	width:70%;
	display:flex;
	justify-content:flex-start;
	gap:10px;
}
header .header-contents ul{
	display:flex;
	gap:10px;
}
header .header-contents .login-menu{
	display:flex;
	gap:10px;
}
header .header-contents .register,header .header-contents .login{
	padding:10px 20px;
	border-radius:10px;
}
header .header-contents .register a,header .header-contents .login a{
	color:#fff;
}
header .header-contents .register{
	background: #4BCCBE;
}
header .header-contents .login{
	background: #FF8C3F;
}
