body {
  background-color:#bbb;
  font-size: 14px;
}
header {
width:100%;
display:flex;
 justyify-content:space-between;
}
header .rogo{
width:20%;
}
header .header-contents{
width:70%;
display:flex;
justyify-content:flex-start;
gap:10px;
}
header .header-contents .register,header .contents .login{
padding:10px 20px;
border-radius:10px;
}
header .header-contents .register{
back-groung:#332299;
}
header .header-contents .login{
back-groung:#993322;
}
